/* This file contains CSS helper classes.
   ========================================================================== */
// truncate text if it exceeds parent
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}