/* Basic typography style
   ========================================================================== */
body {
    font-size: var(--text-base-size);
    font-family: var(--font-primary);
}
 
h1, h2, h3, h4, form legend {
    line-height: var(--heading-line-height);
}

/* text size */
.text--xxxl {
    font-size: var(--text-xxxl);
}

h1, .text--xxl {
    font-size: var(--text-xxl);
}

h2, .text--xl {
    font-size: var(--text-xl);
}

h3, .text--lg {
    font-size: var(--text-lg);
}

h4, .text--md {
    font-size: var(--text-md);
}

.text--sm, small {
    font-size: var(--text-sm);
}

.text--xs {
    font-size: var(--text-xs);
}

p {
    line-height: var(--body-line-height);
}

a {
    color: var(--color-link);

    &:visited {
        color: var(--color-link-visited);
    }
}

b, strong {
    font-weight: bold;
}

article, .text-container {
    ul li, ol li {
        line-height: var(--body-line-height);
    }
    
    em {
        font-style: italic;
    }

    u {
        text-decoration: underline;
    }
}
