/* This file contains all application-wide Sass variables.
   ========================================================================== */

/* 1 -  Typography
========================== */
:root {
  --font-primary: sans-serif;
  --font-secondary: serif;
  --font-monospace: monospace;

  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;
  --baseline: 24px;

  /* type scale */
  --text-xs: calc(1em / (var(--text-scale-ratio) * var(--text-scale-ratio)));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-xxxl: calc(1em * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  
  /* spacing values */
  --space-xxxs: 0.25em;
  --space-xxs:  0.375em;
  --space-xs:   0.5em;
  --space-sm:   0.75em;
  --space-md:   1.25em;
  --space-lg:   2em;
  --space-xl:   3.25em;
  --space-xxl:  5.25em;
  --space-xxxl: 8.5em;

  /* line-height */
  --heading-line-height: 1.2;
  --body-line-height: 1.4;
}

// For testing purposes
@include breakpoint(tab-land) {
  :root {
      // you can manage typography editing only these 2 variables
      --text-base-size: 1.25em;
      --text-scale-ratio: 1.25;
  }
}
